/*联系客服和回到顶部*/
.customer_service{
	width: 100px;
	height: 300px;
	position: fixed;
	top: 40%;
	right: 0;
	background-color: #0aa8ff;
	/*background-color: aliceblue;*/
	text-align: center;
}
#backTop{
	color: white;
	font-weight: bold;
	padding: 15px 0;
	border-bottom: 1px solid gainsboro;
	cursor: pointer;
}